* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Arial', sans-serif;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.table th,
.table td {
  vertical-align: middle;
}

.alert {
  font-weight: bold;
}

.text-primary {
  color: orange !important;;
}